.fakeBody{
    display: grid;
    grid-template-rows: repeat(4, 200px);
    grid-template-columns: auto;
    grid-template-areas: 
    "header header header header"
    "section main main main"
    "section main main main"
    "footer footer footer footer";
}

header{
    grid-area: header;
    background-color: lightgreen;
}

section{
    grid-area: section;
    background-color: lightskyblue;
}

.height{
    height: 2fr;
}

main{
    grid-area: main;
    background-color: lightsalmon;
}

footer{
    grid-area: footer;
    background-color: lightseagreen;
}