* {
    border-radius: 5px;
}

header {
    background-color: lightyellow;
}

main nav {
    background-color: lightsalmon;
}

main section {
    background-color: lightblue;
    color: white;
}

footer {
    background-color: lightpink;
}

@media screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-areas: ". nav . article .";
        grid-template-columns: 10% 20% 10% 40% 10%;
    }
    nav {
        grid-area: nav;
        height: 80px;
    }
    article {
        display: flex;
        flex-direction: column;
        grid-area: article;
    }
    section+section {
        margin-top: 10px;
    }
}

@media screen and (min-width: 936px) {
    header {
        background-color: blue;
    }
}

@media screen and (min-width: 1366px) {
    /* main {
        display: grid;
        grid-template-areas: "nav examples tutorial tools";
    }
    nav {
        grid-area: nav;
    }
    article {
        display: grid;
    }
    section+section {
        margin: 0;
        grid-area: tutorial;
    }
    section:first-child {
        grid-area: examples;
    }
    section:last-child {
        grid-area: tools;
    } */
}