.main{
    display: flex;
    flex-direction: column;
    
}

p{
    background-color: lightsalmon;
}

p:last-child{
    background-color: lightslategray;
}

p:first-child{
    background-color: lightgreen;
}



@media screen and (min-device-width: 1024px){
    .main{
        flex-direction: row;
        justify-content: space-evenly;
    }

    p{
        width: 33%;
    }
}