*{
    margin: 0;
    padding: 0;
}
ul li{
    display: inline;
    margin: 35px;
}

.nav-header{
    list-style: none;
    border-top: 3px solid lightgoldenrodyellow;
    border-bottom: 3px solid lightgoldenrodyellow;
}

.header-logo{
    margin: auto;
    text-align: center;
}

header a{
    text-decoration: none;
    color: black;
}

main{
    display: grid;
    grid-template-columns: 100px 200px 200px 1500px;
    grid-template-rows: auto;
    grid-template-areas:
    ". aboutMe . articles";
}

.about-me{
    grid-area: aboutMe;
    width: 350px;
}

.about-me img{
    margin-left: 90px;
}

.about-me-down{
    background-color: lightgray;
}

.about-me-down-draw{
    background-color: lightgreen;
    text-align: center;
}

h4{
    text-align: center;
}

.post-date{
    border-bottom: lightgreen 2px solid;
    border-top: lightgreen 2px solid;
    margin: 10px 0;
    text-align: center;
}

.posts-container{
    display: flex;
    flex-wrap: wrap;
}

.articles-posts-container{
    grid-area: articles;
    padding: 0 50px 40px ;
}

.grid-container{
    max-width: 1500px;
    margin: auto;
}

.post-container{
    margin: 10px 30px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
}

.articles-posts-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 470px;
    margin-bottom: 50px;
}
.articles-posts-container .post-container p{
    margin-bottom: 35px;
}
.articles-posts-container .post-container img{
    width: 100%;
}

footer{
    height: 100px;
    background-color: black;
}

footer a{
    color: white;
    text-decoration: none;
    display: inline;
}

.nav-footer{
    text-align: center;
}