body {
    background-color: rgba(32, 30, 30, 0.829);
}

.FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    width: 50px;
    font-size: 5rem;
    color: rgb(37, 156, 37);
}
