@import "_variables.sass"

@mixin bordered($color, $width)
    border-bottom: $width solid $color

@mixin buttonHoverAndFocus()
    color: $button_hover_color
    background-color: lighten($button_hover_background_color, 90 )
    @include bordered($color: $button_hover_color, $width: $border_width)
    
        
