@import "_variables.sass"
@import "_mixins.sass"
// Declaración de variables para Sass

body
    width: $page_width
    background: white
    color: $primary_color
    margin: 5px 5px 10px 20px
    h2
        color: $secondary_color
    p
        @include bordered($color: $border_color, $width:$border_width )
        color: black
    .btn
        display: flex
        justify-content: center
        button
            color: $button_color
            background-color: $button_background_color
            @include bordered($color: $button_color, $width: $border_width)
            border-radius: $margin
            font-size: $text_size
            padding: $margin
            margin: $margin
            &:hover
                @include buttonHoverAndFocus()
            &:focus
                @include buttonHoverAndFocus()
                