// Declaración de variables para Sass
$primary_color: rgb(255, 94, 94);
$secondary_color: #3ab140;
$page_width: 965px;

body {
    width: $page_width;
    background: white;
    color: $primary_color;
    margin: 5px 5px 10px 20px;

    h2 {
        color: $secondary_color;
    }

    p {
        color: black;
    }
}