@import "_responsive.sass"
$primary: rgb(105, 143,214)
body
    background: black
    font-family: sans-serif
    color: grey

%btn
    border-radius: 3px
    text-decoration: none
    padding: 5px 12px
    color: white
.btn
    @extend %btn
    background: $primary
    &:hover
        background: darken($primary, 10)

.btn-danger
    @extend %btn
    background: #990000
    &:hover
        background: #ff0000

$medium: 768px
$medium-up: "only screen and (min-width:#{medium})"
@media #{$medium-up}
    %btn
        width: 100%
