@import "_variablesStyleGuide"
@import "_mixinsStyleGuide"


// @media #{$small-up}
//     body              
//         footer
//             ul
//                 // @include centerItemsWithFlex($center: false)

@media #{$medium-up}
    body
        main
            article
                max-width: 24rem
        footer
            ul
                @include centerItemsWithFlex($center: false)

@media #{$long-up}
    body
        main
            .grid-container
                max-width: 1300px
                .flex-container
                    @include centerItemsWithFlex($center: false)
                    article
                        max-width: 24rem
                        // padding-left: 1rem
        footer
            ul
                @include centerItemsWithFlex($center: false)

@media #{$xlong-up}
    body
        main
            .grid-container
                .flex-container
                    @include centerItemsWithFlex($center: false)
                    article
                        max-width: 31rem
        footer
            ul
                @include centerItemsWithFlex($center: false)