@import "_variablesStyleGuide"


@mixin borderedButton($color, $width)
    border: $color solid $width

@mixin bordered($color, $width)
    border-bottom: $color solid $width

@mixin colorBubble($color)
    background: $color
    box-shadow: 2px 2px 2px gray

@mixin button()
    text-decoration: none
    color: $grey
    background: $red
    padding: 1rem
    border-radius: $border-radius-button
    font-weight: normal
    transition: all 0.2s ease-in-out
    width: 5rem
    margin: 0 auto 1rem

@mixin buttonHover()
    color: $greyHover
    box-shadow: $boxShadowRed  
    

@mixin buttonsSettings()
    width: $widthButton
    height: $heightButton
    color: darken($white,15)
    margin: $margin
    border-radius: $border-radius
    
@mixin fontFamily($size)
    font-family: 'Roboto Mono', monospace
    @if $size == 25px
        font-size: $size
        font-weight: 700
    @else if $size == 16px
        font-size: $size
        font-weight: 500
    @else 
        font-size: $size
        font-weight: 400

@mixin typo()
    align-items: center
    display: flex
    margin-left: 0
    position: relative

@mixin link()
    color: $shemrock
    text-decoration: none


@mixin styleH3($newColor)
    @include bordered($color: $newColor, $width: 2px)
    padding-bottom: 1.2rem
    text-align: center

@mixin aside()
    margin-bottom: 3rem
    background-color: $redHover
    
@mixin asideImg()
    display: block
    margin: auto
    width: 50%

@mixin centerItemsWithFlex($center)
    display: flex
    @if $center
        justify-content: center
    @else 
        justify-content: space-evenly
    align-items: center
    
@mixin footerGrid()
    list-style: none
    display: grid
    grid-template-areas: "contact contact terms terms""face youtube twitter spotify"

@mixin gridAreaFooter($name, $number)
    grid-area: $name
    padding-left: 0
    text-align: center
    @if $number
        width: 80px
    @else
        padding-bottom: 1rem 
        width: auto