@import "_variablesStyleGuide"
@import "_mixinsStyleGuide"

main
    background-color: $backgroundColor    
    h3
        color: $darkenGrey
        @include bordered($color: $darkenGrey, $width: 1px)
    div
        display: flex
        figure
            height: $height
            width: $width
            border-radius: $border-radius
            margin: $margin
        .shemrock
            @include colorBubble($color: $shemrock)
        .red
            @include colorBubble($color: $red) 
        .berry
            @include colorBubble($color: $berry) 
        .mahogany
            @include colorBubble($color: $mahogany) 
        .darkGrey
            @include colorBubble($color: $darkGrey) 
        .black
            @include colorBubble($color: $black) 
        h5
            @include centerItemsWithFlex()
            padding: $paddingH5
            text-transform: uppercase
        p
            @include centerItemsWithFlex()
            font-style: italic
            color: darken($grey, 10)
    button
        @include buttonsSettings()
    .defaultButton
        background-color: $berry
        @include borderedButton(lighten($berry, 10), $width: 2px )
    .defaultHoverButton
        background-color: lighten($berry,40)
        @include borderedButton(lighten($berry, 20), $width: 2px )
        color: $white
        cursor: pointer
    .coolButton
        @include borderedButton($color: lighten($mahogany, 10), $width: 2px)
        background-color: $mahogany
    .coolHoverButton
        background-color: lighten($mahogany, 40)
        @include borderedButton($color: lighten($mahogany, 20), $width: 2px)
        color: $white
        cursor: pointer
    .typographyH1
        @include typo()
        @include fontFamily(25px)
    .typographyH4
        @include typo()
        @include fontFamily(16px)
    .typographyP
        @include typo()
        @include fontFamily(12px)
    .typographyLink
        @include typo()
        @include fontFamily(12px)
        a
            @include link()

        