@import "_variablesStyleGuide"
@import "_mixinsStyleGuide"

// Import de archivos css, esto se verá reflejado en el archivo que me creará, por lo que tengo que poner la ruta que me coja desde allí
@import "secondBurgerMenu.css"
@import "bands.css"
@import "bandsList.css"
@import "mediaQueries.css"

body
    margin: 0
    background-color: rgba(0, 0, 0, .54)

.grid-container
    margin: auto

.articles-button
    @include button()
    &:hover
        @include buttonHover()

main
    color: $white
    display: grid
    .main-container
        padding: $paddingPostsContainer
        h3
            @include styleH3($newColor: $berry)
        article
            @include borderedButton($color: $redHover, $width: 1px)
            display: inline-grid
            margin-bottom: 3rem
            h4
                margin-left: 1rem
                text-transform: uppercase
            p
                margin: 0 1rem 2rem
                text-align: justify
            img
                width: 100%
            a
                @include button()
                &:hover
                    @include buttonHover()
    aside
        @include aside()
        a
            img
                @include asideImg()

footer
    padding: 0.5rem
    background-color: $darkGrey
    ul
        @include footerGrid()
        a
            text-decoration: none
            color: $white
            &:hover
                color: $shemrock
            img
                height: 50px
                width: 50px
        .footer-contact
            @include gridAreaFooter($name: contact, $number: false)
        .footer-face
            @include gridAreaFooter($name: face, $number: true)
        .footer-youtube
            @include gridAreaFooter($name: youtube, $number: true)
        .footer-twitter
            @include gridAreaFooter($name: twitter, $number: true)
        .footer-spotify
            @include gridAreaFooter($name: spotify, $number: true)
        .footer-terms
            @include gridAreaFooter($name: terms, $number: false)
            
@import "_mediaQueries"