.top5-img-container {
  padding: 0 50px 40px;
}
.top5-img-container img {
  width: 100%;
}
.top5-main-container {
  padding: 0 50px 40px;
}
.top5-main-container h3 {
  border-bottom: 1px solid #802b2a;
  padding-bottom: 20px;
}
.top5-main-container article h1 {
  font-size: 35px;
}
.top5-main-container article img {
  width: 50%;
}
