.extra-margin {
    margin: 0.2rem;
}
.articles-main {
    display: grid;
}

.articles-news-container {
    background-color: #ccc;
    padding: 0 50px 40px;
    color: black;
}
.articles-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.articles-news-img-container {
    grid-column: 1;
}
.articles-news-img-container img {
    width: 75%;
}
.articles-news-info-container {
    grid-column: 2;
    text-align: justify;
}
.articles-news-info-container p {
    margin-bottom: 35px;
}
.articles-posts-container {
    padding: 0 50px 40px;
}
.articles-posts-container h3 {
    border-bottom: 2px solid #802b2a;
    padding-bottom: 20px;
    text-align: center;
}
.articles-button {
    padding: 10px 15px;
    border: var(--crimson-color) 1px solid;
    font-size: 12px;
}
.articles-posts-container .post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 470px;
    margin-bottom: 50px;
}
.articles-posts-container .post-container p {
    margin-bottom: 35px;
    text-align: justify;
}
.articles-posts-container .post-container img {
    width: 100%;
}

.band-container {
    margin: 0 2rem;
}
.band-container img {
    margin: 0 2rem;
    width: 75%;
    border-radius: 1%;
}
