@media screen and (max-width: 1024px) {
    .articles-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .articles-news-img-container {
        grid-row: 2;
    }
    .articles-news-img-container img {
        width: 95%;
    }
    .articles-news-info-container {
        grid-column: 1;
        grid-row: 3;
        font-size: 12px;
    }
    .articles-posts-container .post-container {
        max-width: 95%;
    }
    .top5-main-container article img,
    .top5-img-container img {
        width: 95%;
    }
    .project-main-container {
        grid-template-columns: 1fr;
    }
    .aboutUs-main-container .aboutUs-container {
        display: block;
    }
    iframe {
        width: 100%;
    }
    .band-container img {
        width: 80%;
    }
}
@media screen and (max-width: 767px) {
    .post-container {
        font-size: 12px;
    }
    .articles-news-info-container {
        font-size: 12px;
    }
    .articles-news-info-container h2 {
        text-align: center;
        font-size: 15px;
    }
    .index-main-text {
        font-size: 25px;
        margin-bottom: 0;
    }
    .contact-main-message form input {
        width: var(--input-size);
    }
    iframe {
        width: 90%;
    }
    .band-container img {
        width: 90%;
    }
}
@media screen and (max-width: 480px) {
    .index-main section {
        margin-top: 40px;
    }
    .index-main-text {
        font-size: 25px;
        margin-top: 0;
        letter-spacing: 4px;
    }
    .menu {
        width: 260px;
        height: 300px;
    }
    .menu ul p {
        font-size: 1.2em;
    }
    .menu a {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 320px) {
    header .header-icons-container .icons {
        width: auto;
    }
}
