@import url(secondBurgerMenu.css);
@import url(bands.css);
@import url(bandsList.css);
@import url(mediaQueries.css);
body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.54); }

.grid-container {
  margin: auto; }

.articles-button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: #b65f5c;
  padding: 1rem;
  border-radius: 0.25rem;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  width: 5rem;
  margin: 0 auto 1rem; }
  .articles-button:hover {
    color: white;
    box-shadow: 0 0.33rem 1rem rgba(182, 95, 92, 0.4); }

main {
  color: #fdefef;
  display: grid; }
  main .main-container {
    padding: 0 3rem; }
    main .main-container h3 {
      border-bottom: #802b2a solid 2px;
      padding-bottom: 1.2rem;
      text-align: center; }
    main .main-container article {
      border: rgba(182, 95, 92, 0.4) solid 1px;
      display: inline-grid;
      margin-bottom: 3rem; }
      main .main-container article h4 {
        margin-left: 1rem;
        text-transform: uppercase; }
      main .main-container article p {
        margin: 0 1rem 2rem;
        text-align: justify; }
      main .main-container article img {
        width: 100%; }
      main .main-container article a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        background: #b65f5c;
        padding: 1rem;
        border-radius: 0.25rem;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
        width: 5rem;
        margin: 0 auto 1rem; }
        main .main-container article a:hover {
          color: white;
          box-shadow: 0 0.33rem 1rem rgba(182, 95, 92, 0.4); }
  main aside {
    margin-bottom: 3rem;
    background-color: rgba(182, 95, 92, 0.4); }
    main aside a img {
      display: block;
      margin: auto;
      width: 50%; }

footer {
  padding: 0.5rem;
  background-color: #3f3f3f; }
  footer ul {
    list-style: none;
    display: grid;
    grid-template-areas: "contact contact terms terms" "face youtube twitter spotify"; }
    footer ul a {
      text-decoration: none;
      color: #fdefef; }
      footer ul a:hover {
        color: #5fb65c; }
      footer ul a img {
        height: 50px;
        width: 50px; }
    footer ul .footer-contact {
      grid-area: contact;
      padding-left: 0;
      text-align: center;
      padding-bottom: 1rem;
      width: auto; }
    footer ul .footer-face {
      grid-area: face;
      padding-left: 0;
      text-align: center;
      width: 80px; }
    footer ul .footer-youtube {
      grid-area: youtube;
      padding-left: 0;
      text-align: center;
      width: 80px; }
    footer ul .footer-twitter {
      grid-area: twitter;
      padding-left: 0;
      text-align: center;
      width: 80px; }
    footer ul .footer-spotify {
      grid-area: spotify;
      padding-left: 0;
      text-align: center;
      width: 80px; }
    footer ul .footer-terms {
      grid-area: terms;
      padding-left: 0;
      text-align: center;
      padding-bottom: 1rem;
      width: auto; }

@media only screen and (min-width: 960px) and (max-width: 1440px) {
  body main article {
    max-width: 24rem; }
  body footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center; } }
@media only screen and (min-width: 1440px) and (max-width: 2000px) {
  body main .grid-container {
    max-width: 1300px; }
    body main .grid-container .flex-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      body main .grid-container .flex-container article {
        max-width: 24rem; }
  body footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center; } }
@media only screen and (min-width: 2000px) {
  body main .grid-container .flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    body main .grid-container .flex-container article {
      max-width: 31rem; }
  body footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center; } }

/*# sourceMappingURL=styleMusicWeb.css.map */
