body {
  width: 965px;
  background: white;
  color: #ff5ebc;
  margin: 5px 5px 10px 20px; }
  body h2 {
    color: #3ab140; }
  body p {
    border: 2px solid #C53AF5;
    color: black; }
  body .btn {
    display: flex;
    justify-content: center; }
    body .btn button {
      color: #4c84ac;
      background-color: #8cb5f7;
      border: 2px solid #4c84ac;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      padding: 0.5rem;
      margin: 0.5rem; }
      body .btn button:hover {
        color: #974338;
        background-color: white;
        border: 2px solid #974338; }
      body .btn button:focus {
        color: #974338;
        background-color: white;
        border: 2px solid #974338; }

/*# sourceMappingURL=ejemplo1.css.map */
