main {
  background-color: #eeeeeed3; }
  main h3 {
    color: #8b9b93;
    border-bottom: #8b9b93 solid 1px; }
  main div {
    display: flex; }
    main div figure {
      height: 3rem;
      width: 3rem;
      border-radius: 1.5rem;
      margin: 0.5rem; }
    main div .shemrock {
      background: #2f8d44;
      box-shadow: 2px 2px 2px gray; }
    main div .red {
      background: #a83736;
      box-shadow: 2px 2px 2px gray; }
    main div .berry {
      background: #802b2a;
      box-shadow: 2px 2px 2px gray; }
    main div .mahogany {
      background: #591f1e;
      box-shadow: 2px 2px 2px gray; }
    main div .darkGrey {
      background: #3f3f3f;
      box-shadow: 2px 2px 2px gray; }
    main div .black {
      background: #090909;
      box-shadow: 2px 2px 2px gray; }
    main div h5 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      text-transform: uppercase; }
    main div p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: italic;
      color: #a7b2ad; }
  main button {
    width: 9rem;
    height: 2rem;
    color: #f5abab;
    margin: 0.5rem;
    border-radius: 1.5rem; }
  main .defaultButton {
    background-color: #802b2a;
    border: #a63837 solid 2px; }
  main .defaultHoverButton {
    background-color: #dd9999;
    border: #c44d4c solid 2px;
    color: #fdefef;
    cursor: pointer; }
  main .coolButton {
    border: #7f2c2b solid 2px;
    background-color: #591f1e; }
  main .coolHoverButton {
    background-color: #d07573;
    border: #a53a38 solid 2px;
    color: #fdefef;
    cursor: pointer; }
  main .typographyH1 {
    align-items: center;
    display: flex;
    margin-left: 0;
    position: relative;
    font-family: "Roboto Mono", monospace;
    font-size: 25px;
    font-weight: 700; }
  main .typographyH4 {
    align-items: center;
    display: flex;
    margin-left: 0;
    position: relative;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    font-weight: 500; }
  main .typographyP {
    align-items: center;
    display: flex;
    margin-left: 0;
    position: relative;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    font-weight: 400; }
  main .typographyLink {
    align-items: center;
    display: flex;
    margin-left: 0;
    position: relative;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    font-weight: 400; }
    main .typographyLink a {
      color: #2f8d44;
      text-decoration: none; }

/*# sourceMappingURL=styleGuide.css.map */
